/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}


/* Layout for Style Tile*/
.container {
	margin-left: 0;
}
section {
	margin: 20px 0;
}

img {
	max-width: 1000px;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: #FFD436;
}

.color-2 {
	background: #FF1B00;
}

.color-3 {
	background: #000;
}

h2 {
	font-family: 'Condiment', cursive;
}


/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}